{%- if site.announcement.enabled %}
  <!-- Announcement Bar -->
  <div class="announcement-bar">
    <a href="{{ site.announcement.href }}">FREE DELIVERY OVER $50 &middot; BEST ALCOHOL DELIVERY THIS SIDE OF THE COLORADO</a>
  </div>
{%- endif %}
